

ion-tab-bar {
	--background: var(--ion-color-primary);
}
  
ion-tab-button {
	--color: #d3d8db;
	--color-selected: var(--ion-color-hotcoral)
}

ion-item {
  --detail-icon-color: var(--ion-color-hotcoral); /* or any CSS color */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}
a:hover {
  color: #535bf2;
}

.input-otp-fill-solid.otpCustom {
  --border-color: var(--ion-color-tertiary);
  --background: white;
}

.fade-loading .loading-wrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-loading.ion-loading-visible .loading-wrapper {
  opacity: 1;
}

ion-segment-content:nth-of-type(1) {
  background: lightblue;
}
ion-segment-content:nth-of-type(2) {
  background: var(--ion-color-tertiary);
}

.linkStyle {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}

.button-flow {
  display: flex;
  flex-wrap: wrap;   /* 🔑 buttons wrap onto new lines */
  gap: 8px;          /* spacing between buttons */
  padding: 4px 0;    /* optional breathing room */
}

.colorRow {
    background-color: var(--ion-color-tertiary);
    color: white;
}




ion-range::part(tick) {
  background: #a2d2ff;
}

ion-range::part(tick-active) {
  background: #bde0fe;
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--ion-color-hotcoral);
  color: #fff;

  border-radius: 50%;
  transform: scale(1.01);

  top: -20px;

  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}

ion-range::part(knob) {
  background: var(--ion-color-hotcoral);
}

ion-range::part(bar) {
  background: #a2d2ff;
}

ion-range::part(bar-active) {
  background: #bde0fe;
}
